<section class="registro-container">
  <div class="registro-image"> <img src="/img/cad-model.png" alt="Modelo" /> </div>
  <div class="registro-form">
<h1>CADASTRO</h1>
<form action="/cadastro" method="POST">
  <p>Nome: <input type="text" name="nome" required /></p>
  <p>Email: <input type="email" name="email" required /></p>
  <p>Senha: <input type="password" name="senha" required /></p>
  <button type="submit">Cadastrar</button>
</form>