<section class="login-container">
  <div class="login-image"> <img src="/img/login-model.png" alt="Modelo" /> </div>
  <div class="login-form">
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
     <p>Email: <input type="email" name="email" required /></p>
  <p>Senha: <input type="password" name="senha" required /></p>
  <button type="submit">Entrar</button>
  <p><a href="/esqueci">Esqueci minha senha</a></p>
  </form>
  