<h1>Redefinir Senha</h1>
<form action="/redefinir/{{cliente.id}}" method="POST">
  <p>Nova senha:</p>
  <input type="password" name="novaSenha" required />
  <button type="submit">Atualizar Senha</button>
</form>